.md-editor-wrapper {
  display: flex;
  border: 1px solid #E0E0E0;
  height: 100%; }
  .md-editor-wrapper .md-editor-code {
    flex-basis: 50%;
    width: 50%;
    overflow: auto; }
    .md-editor-wrapper .md-editor-code > div, .md-editor-wrapper .md-editor-code .CodeMirror {
      height: 100%; }
  .md-editor-wrapper .md-editor-preview {
    flex-basis: 50%;
    width: 50%;
    border-left: 1px solid #E0E0E0;
    overflow: auto; }

.md-editor-preview-wrapper {
  padding: 30px;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Helvetica, Arial, sans-serif, Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol;
  font-size: 16px;
  line-height: 1.5;
  color: #24292e; }
  .md-editor-preview-wrapper > :first-child {
    margin-top: 0 !important; }
  .md-editor-preview-wrapper p, .md-editor-preview-wrapper ul, .md-editor-preview-wrapper blockquote, .md-editor-preview-wrapper ul, .md-editor-preview-wrapper pre, .md-editor-preview-wrapper table {
    margin-bottom: 16px;
    margin-top: 0; }
  .md-editor-preview-wrapper img {
    background-color: #fff;
    box-sizing: content-box;
    max-width: 100%;
    border-style: none; }
  .md-editor-preview-wrapper h1, .md-editor-preview-wrapper h2, .md-editor-preview-wrapper h3, .md-editor-preview-wrapper h4, .md-editor-preview-wrapper h5, .md-editor-preview-wrapper h6 {
    font-weight: 600;
    line-height: 1.25;
    margin-bottom: 16px;
    margin-top: 24px; }
  .md-editor-preview-wrapper h1, .md-editor-preview-wrapper h2 {
    border-bottom: 1px solid #eaecef;
    padding-bottom: .3em; }
  .md-editor-preview-wrapper h1 {
    font-size: 2em; }
  .md-editor-preview-wrapper h2 {
    font-size: 1.5em; }
  .md-editor-preview-wrapper h3 {
    font-size: 1.25em; }
  .md-editor-preview-wrapper h4 {
    font-size: 1em; }
  .md-editor-preview-wrapper h5 {
    font-size: .875em; }
  .md-editor-preview-wrapper h6 {
    color: #6a737d;
    font-size: .85em; }
  .md-editor-preview-wrapper ul {
    padding-left: 2em; }
  .md-editor-preview-wrapper li {
    word-break: break-all; }
  .md-editor-preview-wrapper a {
    color: #0366d6;
    text-decoration: none; }
  .md-editor-preview-wrapper blockquote {
    border-left: .25em solid #dfe2e5;
    color: #6a737d;
    padding: 0 1em;
    margin-left: 0;
    margin-right: 0; }
    .md-editor-preview-wrapper blockquote > :last-child {
      margin-bottom: 0; }
  .md-editor-preview-wrapper pre {
    background-color: #f6f8fa;
    border-radius: 3px;
    font-size: 85%;
    line-height: 1.45;
    overflow: auto;
    padding: 16px;
    word-break: normal; }
    .md-editor-preview-wrapper pre code {
      background-color: #f6f8fa;
      font-size: 100%;
      padding: 0; }
      .md-editor-preview-wrapper pre code h1, .md-editor-preview-wrapper pre code h2, .md-editor-preview-wrapper pre code h3, .md-editor-preview-wrapper pre code h4, .md-editor-preview-wrapper pre code h5, .md-editor-preview-wrapper pre code h6 {
        font-size: inherit; }
  .md-editor-preview-wrapper code {
    background-color: rgba(27, 31, 35, 0.05);
    border-radius: 3px;
    font-size: 85%;
    margin: 0;
    padding: .2em .4em; }
  .md-editor-preview-wrapper table {
    display: block;
    overflow: auto;
    width: 100%;
    border-collapse: collapse;
    border-spacing: 0; }
    .md-editor-preview-wrapper table tr {
      background-color: #fff;
      border-top: 1px solid #c6cbd1; }
      .md-editor-preview-wrapper table tr:nth-child(2n) {
        background-color: #f6f8fa; }
    .md-editor-preview-wrapper table th {
      border: 1px solid #dfe2e5;
      padding: 6px 13px;
      font-weight: 600; }
    .md-editor-preview-wrapper table td {
      border: 1px solid #dfe2e5;
      padding: 6px 13px; }
  .md-editor-preview-wrapper .task-list-item-checkbox {
    margin: 0 .2em .25em -1.6em;
    vertical-align: middle;
    font-size: inherit; }
  .md-editor-preview-wrapper .task-list-item {
    list-style-type: none; }
