@import '../../scss/variables';

#{$prefix}modal {
  position: absolute;
  top: 0;
  z-index: 999;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  background-color: rgba(128, 128, 128, 0.3);
  animation: fadeIn 0.3s;
  font-family: sans-serif;

  @keyframes fadeIn {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }

  @keyframes blowUpModal {
    0% {
      transform: scale(0);
    }

    100% {
      transform: scale(1);
    }
  }

  .modal-wrapper {
    max-height: 80%;
    background-color: #fff;
    border-radius: 5px;
    animation: blowUpModal 0.3s;
  }

  .modal-header {
    display: flex;
    justify-content: space-between;
    padding: 15px 20px;
    border-bottom: $border;

    .close-button {
      cursor: pointer;
    }
  }

  .modal-body {
    padding: 15px 20px;
  }

  .model-footer {
    display: flex;
    flex-direction: row-reverse;
    padding: 0px 20px 10px 20px;

    button {
      margin-left: 10px;
    }
  }

  .menu-modal {
    .input-table {
      font-size: 0.9em;
      td {
        padding: 5px 0px;
      }
      span {
        padding-right: 10px;
      }
    }
  }
}
