.md-editor-wrapper {
  display: flex;
  flex-direction: column;
  min-height: 350px;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Helvetica, Arial, sans-serif, Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol;

  * {
    box-sizing: border-box;
  }

  .d-none {
    display: none;
  }

  &.fullscreen {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    border: none;
    margin: 0 auto;
  }

  .md-editor-icon {
    display: inline-block;
    color: inherit;
    font-style: normal;
    line-height: 0;
    text-align: center;
    text-transform: none;
    vertical-align: -0.165em;
  }

  .md-editor-toolbar-wrapper {
    width: 100%;
    border: 1px solid #E0E0E0;
    border-bottom: none;

    .md-editor-toolbar {
      display: flex;
      align-items: center;
      margin: 0;
      padding: 0;
      list-style: none;

      div {
        margin: 2px;
        padding: 5px;
        cursor: pointer;
        color: #757575;

        &:hover {
          background-color: #EEEEEE;
        }

        &.divider {
          text-indent: -9999px;
          margin: 0 5px;
          padding: 5px 0;
          border-right: 1px solid #EEEEEE;
        }
      }
    }
  }

  .md-editor-area {
    display: flex;
    flex: 1;
    border: 1px solid #E0E0E0;
  }

  .md-editor-code {
    flex: 1;
    overflow: auto;

    .CodeMirror {
      height: 100%;
    }
  }

  .md-editor-preview {
    flex: 1;
    position: relative;
    border-left: 1px solid #E0E0E0;
    overflow: auto;

    .close {
      position: absolute;
      right: 20px;
      top: 20px;
      font-size: 1.5em;
      color: #757575;
      padding: 5px 10px;
      border: 1px solid #E0E0E0;
      border-radius: 5px;
      cursor: pointer;

      &:hover {
        background-color: #EEEEEE;
      }
    }
  }
}
