@import "./variables";

#{$prefix}wrapper {
  display: flex;
  flex-direction: column;
  height: 100%;
  font-family: $font-family;
  font-size: 16px;

  * {
    box-sizing: border-box;
  }

  .d-none {
    display: none;
  }

  &.fullscreen {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    border: none;
    margin: 0 auto;
  }

  #{$prefix}menu {
    width: 100%;
    border: $border;
    border-bottom: none;

    div {
      display: inline-block;
      margin: 2px;
      padding: 5px;
      cursor: pointer;
      color: $font-color;

      &:hover {
        background-color: $light-gray;
      }

      &.divider {
        text-indent: -9999px;
        margin: 0 5px;
        padding: 5px 0;
        border-right: 1px solid $light-gray;
      }

      #{$prefix}icon {
        line-height: 0;
        vertical-align: -0.165em;
      }
    }
  }

  #{$prefix}area {
    display: flex;
    flex: 1;
    border: $border;
    overflow: auto;
  }

  #{$prefix}code {
    flex: 1;
    overflow: auto;

    .CodeMirror {
      height: 100%;
      font-size: 0.8em;
    }
  }

  #{$prefix}preview {
    flex: 1;
    border-left: $border;
    overflow: auto;

    .close {
      position: sticky;
      right: 20px;
      top: 20px;
      float: right;
      font-size: 1.5em;
      color: $font-color;
      background-color: #ffffff;
      padding: 5px 10px;
      border: $border;
      border-radius: 5px;
      cursor: pointer;

      &:hover {
        background-color: $light-gray;
      }

      i {
        line-height: 0;
        display: inline-block;
        vertical-align: -0.1em;
      }
    }
  }
}
