@import "./variables";

#{$prefix}wrapper {
  display: flex;
  flex-direction: column;
  height: 100%;
  font-family: $font-family;
  font-size: 16px;

  * {
    box-sizing: border-box;
  }

  .d-none {
    display: none;
  }

  &.fullscreen {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    border: none;
    margin: 0 auto;
  }

  #{$prefix}icon {
    display: inline-block;
    color: inherit;
    font-style: normal;
    line-height: 0;
    text-align: center;
    text-transform: none;
    vertical-align: -0.165em;
  }

  #{$prefix}menubar {
    width: 100%;
    border: $border;
    border-bottom: none;

    #{$prefix}menu {
      display: flex;
      align-items: center;
      margin: 0;
      padding: 0;

      div {
        margin: 2px;
        padding: 5px;
        cursor: pointer;
        color: $font-color;

        &:hover {
          background-color: $light-gray;
        }

        &.divider {
          text-indent: -9999px;
          margin: 0 5px;
          padding: 5px 0;
          border-right: 1px solid $light-gray;
        }
      }
    }
  }

  #{$prefix}area {
    display: flex;
    flex: 1;
    border: $border;
  }

  #{$prefix}code {
    flex: 1;
    overflow: auto;

    .CodeMirror {
      height: 100%;
      font-size: 0.8em;
    }
  }

  #{$prefix}preview {
    flex: 1;
    position: relative;
    border-left: $border;
    overflow: auto;

    .close {
      position: absolute;
      right: 20px;
      top: 20px;
      font-size: 1.5em;
      color: $font-color;
      padding: 5px 10px;
      border: $border;
      border-radius: 5px;
      cursor: pointer;

      &:hover {
        background-color: $light-gray;
      }
    }
  }
}
